#header {background-color: #3399cc; color: white; width: 100%; padding-left: 30px; padding-top: 30px; padding-bottom: 30px; font-size: 30px;}
table {border: solid 2px black; margin-top: 15px; text-align: center; margin-bottom: 10px;}
.linha-par {background-color:rgb(209, 192, 192);}
#main {margin-bottom: 15px;}
#footer {background-color: #3399cc; color: white; padding-top: 10px; padding-bottom: 10px; padding-left: 5px; position: static; width: 100%;}