body {height: 100%;}
#header {background-color: #3399cc; padding: 30px; width: 100%;}
#nomeloja {color: white; font-size: 40px; margin-right: 60px;}
.menu {color: white; margin: 25px; padding: 25px; font-size: 20px;}
a:visited {color: whitesmoke;}
#main {margin-top: 170px; text-align: center; margin-bottom: 280px; font-size: 20px;}
#footer {background-color: #3399cc; color: white; padding-top: 10px; padding-bottom: 10px; padding-left: 5px; position: static; width: 100%;}
