/* div{
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    font-weight: 300;
    align-items: flex-start;
    justify-content: center;
    min-height: 500px;
} */