#header p {
    display: inline;
    font-weight: bold;    
}
#headerp1 {
    margin-left: 30px;
    margin-right: 750px;
    color: #3399cc;
}
.headerp2 {
    margin-right: 30px;
    color: #3399cc;
}
#mainimg1 {
    width: 250px;
    height: 250px;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
#mainh1 {
    text-align: center;
    font-size: 3em;
}
#mainh2 {
    text-align: center;
    font-size: 3em;
}
#maincont {
    background-color: #3399cc;
    color: white;
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
}
.mainimgportifolio {
    width: 250px;
    height: 280px;
    margin-left: 100px;
}
#mainimgorç {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#footer {
    width: 100%;
    background-color: grey;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}
#nome {
    margin-bottom: 5px;
}
#email {
    margin-bottom: 5px;
}
#mensagem {
    height: 40px;
}
#footer {
    width: 100%;
    background-color:gray;
    padding-left: 10px;
    padding-bottom: 15px;
    position: relative;
}
#footerform {
    display: inline;
}
form {
    margin: 0px;
    display: inline;
}
form h3{

    margin-left: 40px;
}
#nome {
    margin-bottom: 0;
}
#email {
    margin-bottom: 0;
}
#mensagem {
    margin-bottom: 0;
    height: 15px
    }
#footerrs {
    display: inline;
    position: absolute;
    right: 0;
    bottom: 35%
    }
.footerimgrs {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}